<%= link_to "back to the list", restaurants_path%>

<h2><%=@restaurant.name%></h1>
<ul>
<li><strong>adress : </strong><%=@restaurant.address%></li>
<li><strong>type of food :</strong> <%=@restaurant.category%></li>
</ul>
<h4>review</h4>
<ul>
<% @restaurant.reviews.each do |review| %>
  <li>
  <p>Rating : <%= review.rating %> - content : <%= review.content %></p>
  </li>
<% end %>
</ul>


<h4>Thanks to give a feed back to <%=@restaurant.name  %></h4>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: [0, 1, 2, 3, 4 , 5], prompt: :choose %>
  <%= f.input :content %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>

